.App {
  text-align: center;
  color: #349bf3;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

img{
  width: 18%;
}

li a {
  display: flex;
  align-items: center;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li{
  float: left;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#349bf3;
}

a{
  color: white;
  font-family: Verdana;
  font-weight: 22 ;

}

.Header{
  background-color: blue;
  color: white
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
